<div id="dwolla_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Authorize {{ site_name }} to access your Dwolla account</h4>
      </div>
      <div class="modal-body">
	{{ site_name }} does not have authorization to access your Dwolla account.  You either need to sign up for a Dwolla account, or give authorization.  In either case, you will be redirected to dwolla.com.  Upon return to {{ site_name }}, you will be asked to enter your Dwolla PIN.  This will authorize {{ site_name }} to send money from your Dwolla account to {{ site_name }} on a monthly subscription basis.  Your PIN will be stored at {{ site_name }} in an encrypted state.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a href="https://www.dwolla.com/Register" type="button" class="btn btn-info">Sign up</a>
        <a id="dwolla_auth" href="{{ auth_url }}" type="button" class="btn btn-primary">Authorize</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
